<div id = "itemContainerId">
    <p id = "fieldDescriptionId">{{ description[0] }}</p>
    <p id = "fieldValueId">{{ data[0] }}</p>
</div>
<div id = "itemContainerId">
    <p id = "fieldDescriptionId">{{ description[1] }}</p>
    <p id = "fieldValueId">{{ data[1] }}</p>
</div>
<div id = "itemContainerId">
    <p id = "fieldDescriptionId">{{ description[2] }}</p>
    <p id = "fieldValueId">{{ data[2] }}</p>
</div>
<div id = "itemContainerId">
    <p id = "fieldDescriptionId">{{ description[3] }}</p>
    <p id = "fieldValueId">{{ data[3] }}</p>
</div>
<div id = "itemContainerId">
    <p id = "fieldDescriptionId">{{ description[4] }}</p>
</div>
<img [src] = data[4]>